/*Universal styles*/
html body{
  background-image: url(https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Domine', serif;
  font-weight: 700;
  text-shadow: 2px 2px black;
  color:#f4d2a6;
  width: 100%;
  height: 100%;
  overflow: auto;
}

header h1{
  font-size:60px;
  padding:2% 0 0 3%;
}
header #menuHeader{
  padding:2% 0 0 8%;
}
header #contactHeader{
  padding:2% 0 0 1.5%;
}
h1,h2,h3,a{
  font-family: 'Abril Fatface', cursive;
}
.formGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
nav{
  background-image: linear-gradient(#491d02,#320c00);
  width: 100%;
  padding: 0.75% .25% 0.75% 0%;
  display: inline-block;

}
nav li{
  display: inline;
}
nav ul{
  margin: 0;
  padding: 0px 0px 0px 0px;
}
nav li a{
  text-align: center;
}
nav li  a img{
  position: sticky;
  width: 5.5%;
  height: 5.5%;
  margin: 0;
}

nav a{
  color: white;
  text-decoration: none;
  border-right: 1px solid #bbb;
  padding: .75% 1.25%;
}
nav a,.resMessage a{
  color: white;
  text-decoration: none;
  border-right: 1px solid #bbb;
  padding: .75% 1.25%;
}
.resMessage a{
  border:none;
  padding: 0;
}
nav a:hover, .resMessage a:hover{
  color: #933A16;
  text-decoration: none;
}
footer{
  font-size: 85%;
  font-style: italic;
  text-align: center; 
  padding-top: 5%;
}
/*This is the CSS for the Contact Us & Reservation Page Page*/

input[type=text], input[type=tel], input[type=email],input[type=number],input[type=date],input[type=time], select, textarea {
  width: 100%; 
  padding: 12px; 
  background-image: linear-gradient(#be804c,#a26433);
  border: none;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
.resBox input[type=text], .resBox input[type=tel], .resBox input[type=email], .resBox input[type=number], .resBox input[type=date], .resBox input[type=time]{
  width: 75%;
}
.formBox,.resBox{
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(#692f0a,#814317);
  padding: 20px;
  margin: 2% 2%;
}
#resHeader, .resBox{
  padding-left: 10%;
}
.resBox{
  margin-left: 10%;
  width:75%;
}
.resMessage{
  padding: 5% 20% 5% 0;
  text-align: center;
}
.formBox .resMessage{
  padding: 5% 10% 5% 5%;
}
select{
  width:25%;
}
input[type=number],input[type=time],input[type=date]{
  width:15%;
}
form label{
  color: #f4d2a6;
  text-shadow: 2px 2px black;
  font-size: 20px;
}
::placeholder{
  color: black;
  font-size:19px;
}
input[type=submit] {
  background-image: linear-gradient(#855E42,#925426);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Abril Fatface', cursive;
}

input[type=submit]:hover, .btn btn-primary btn-lg:hover {
  cursor: pointer;
  color:white;
}

#cafe , .address{
  grid-column: 2;
  grid-row: 1/2;
}
#cafe{
  width: 45%;
  position:absolute;
  top: 32.5%;
  right:2%;
  float: right;

}
.address{
  width: 8%;
  background-image: linear-gradient(#692f0a,#814317);
  position: absolute;
  top: 44.6%;
  right:2%;
  float: right;
  font-size:18px;
  text-align:center;  
  color: #f4d2a6;
  text-shadow: 2px 2px black;
}
.address span{
  font-size:25px;
}
/*This is the CSS for Home page*/
.display-4{
  font-size: 5em;
  font-weight: bold;
  background-color: rgba(42,34,38,.5);
  width:47%;
}
.hours{
  background-color: rgba(42,34,38,.5);
  width:47%;
}
.jumbotron{
  background-image: url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=956&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
  padding: 12em 2em;

}
.btn-primary{
  background-image: linear-gradient(#855E42,#925426);
  border:none;
}

/*This is the CSS for the menu page*/
#menu{
  margin-left:8%;
  margin-top: 1%;
  background-image: linear-gradient(#692f0a,#814317);
  width: 85%;
  font-size: 22px;
  color:#e8c393;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
  padding-bottom: 18%;
  display: grid;
  grid-template-rows: 25% 50% 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
}
#specialicons{
  grid-template-rows: 100%;
  grid-template-columns: auto;
  grid-row: 1;
  grid-column: 1/7;
  width:100%;
  padding-top: 1.25%;
}
.foodicon{
  padding: 0 .5% 0 7%;
  margin-left: 6%;
  width: 10%;
}
li span .foodicon{
  margin:0;
  width: 6%;
  padding:0 .5% 0 .25%;
}
.hot h3 img,.cold h3 img,.food h3 img{
  height:150px;
  width:150px; 
  border-radius: 50% 50% 50% 50%;
}
.hot{
  grid-row: 2/3;
  grid-column: 2/6;
}
.hot h3{
  padding-right: 65%;
}
.cold{
  grid-row: 2/3;
  grid-column: 4/6;
  
}
.cold h3{
  padding-right: 20%;
}
.food{
  grid-row: 3;
  grid-column: 3/6;
  padding-right: 15%;
  padding-top: 5%;  

}
.food h3{
  padding-right: 30%;
}
#menu h3{
  font-size: 30px;
  color: #f4d2a6;
  text-shadow: 2px 2px black;
  text-align: center;
}


/*This is the styles for the About Us Page*/
#info{
  padding-top: 8%;
}
#about{
  background-image: linear-gradient(#692f0a,#814317);
  width: 95%;
  text-align: center;
  margin-left: 2.5%;
  line-height: 2;
  padding: 0 3%;
  font-size: 18px;
  border-radius: 10px;
}
#about h2{
  padding: 5% 0 2% 0;
  font-size: 40px;
}
#pets,.dogs,.cats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12% 1fr 1fr;
}
a img{
  height:350px;
  width:350px; 
  margin:5%;
  border-radius: 50% 50% 50% 50%;
}
a{
  color:white;
}
a:hover{
  color: #933A16;
}
#logo{
  margin: 0 0 0 20%;
  width: 21%;
  height: 21%;
}
.message{
  grid-row: 1/2;
  grid-column: 1/4;
  padding-bottom:4%;
}
.dogs{
  margin: 5%; 
  padding: 5%;
  grid-row: 2;
  grid-column: auto;
}
.cats{
  grid-row: 3;
  grid-column: auto;
}


