@media only screen and (min-width:300px) and (max-width:459px) {
/*navbar*/
nav li  a img{
  width: 15%;
  height: 15%;
}
nav li a {
  font-size: 25px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
/*home page*/
  .display-4, .hours{
    width: 98%;
    text-align: center;
    font-size: 70px;
  }
  .hours{
    font-size: 13px;
  }
  /*menu page*/
  #menu{
    grid-template-rows: 5%;
    width: 98%;
    margin-left: 1%;
    font-size: 10px;
  }
  .hot, .cold, .food{
    font-size: 19px;
  }
  .hot{
    grid-column: 1/7;
    grid-row: 2;
    padding: 0 0 0 5%;
  }
  .hot h3{
    padding: 0 30% 0 28%;
  }
  .cold{
    grid-column: 1/7;
    grid-row: 3;
    padding: 0 0 0 5%;
  }
  .cold h3{
    padding: 0 30% 0 28%;
  }
  .food{
    grid-column: 1/7;
    grid-row: 4;
    padding: 0 0 0 1%;
  }
  .food h3{
    padding-left: 28%;
  }
  
  .foodicon{
    padding-left: 0%;
    width: 5%;
  }
  .food .foodicon{
    padding-left: 0;
    padding-right: 0%;
    width: 6%;
  }
  /*this is for the about us page*/
  #logo{
    margin-left: 5%;
  }
  a img{
    height:100px;
    width:100px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55% .5fr 1.25fr;
}
    /*reservation page*/
    #resHeader{
      padding-left: 2%;
    }
    .resBox{
      width: 95%;
      margin-left: 2.5%;    
    }
    #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:50%;
  }
  /*contaact us page*/
  .formGrid,.cafe,.address{
    grid-template-rows: 1fr;
    grid-template-columns: 95% 20% 20%;
}
  #cafe{
    position: relative;
    width: 100%;
    top: 0;
    left: 2%; 
    float: none;
    grid-row: 2/3;
    grid-column: 1;
  }
  .address{
    position: relative;
    top: 0;
    left: 2%; 
    width: 100%;
    grid-row: 3/4;
    grid-column: 1;
  }
}


@media only screen and (min-width:460px) and (max-width:579px) {
    /*reservation page*/
    .resBox{
      width: 85%;
      margin-left: 8%;    
    }
    #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:50%;
  }
   /*menu page*/
  #menu{
    grid-template-rows: 5%;
    width: 98%;
    margin-left: 1%;
    font-size: 14px;
  }
  .hot, .cold, .food{
    font-size: 19px;
  }
  .hot{
    grid-column: 2/7;
    grid-row: 2;
    padding: 0 0 0 5%;
  }
  .hot h3{
    padding-right: 26%;
  }
  .cold{
    grid-column: 2/7;
    grid-row: 3;
    padding: 0 0 0 5%;
  }
  .cold h3{
    padding-right: 26%;
  }
  .food{
    grid-column: 1/7;
    grid-row: 4;
    padding: 0 0 0 1%;
  }
  .food h3{
    padding-left: 28%;
  }
  
  .foodicon{
    padding-left: 0%;
    width: 5%;
  }
  .food .foodicon{
    padding-left: 0;
    padding-right: 0%;
    width: 6%;
  }
  /*home page*/
  .display-4, .hours{
    width: 90%;
  }
  /*this is for the about us page*/
  #logo{
    margin-left: 0%;
  }
  a img{
    height:125px;
    width:125px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 52% .5fr 1.25fr;
}
/*contaact us page*/
  .formGrid,.cafe,.address{
    grid-template-rows: 1fr;
    grid-template-columns: 95% 20% 20%;
}
  #cafe{
    position: relative;
    width: 100%;
    top: 0;
    left: 2%; 
    float: none;
    grid-row: 2/3;
    grid-column: 1;
  }
  .address{
    position: relative;
    top: 0;
    left: 2%; 
    width: 100%;
    grid-row: 3/4;
    grid-column: 1;
  }
}
@media only screen and (min-width:580px) and (max-width: 749px){
  /*reservation page*/
    .resBox{
      width: 85%;
      margin-left: 8%;    
    }
    #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:50%;
  }
   /*menu page*/
  #menu{
    grid-template-rows: 5%;
    width: 98%;
    margin-left: 1%;
    font-size: 19px;
  }
  .hot{
    grid-column: 2/7;
    grid-row: 2;
    padding: 0 0 0 15%;
  }
  .hot h3{
    padding-right: 26%;
  }
  .cold{
    grid-column: 2/7;
    grid-row: 3;
    padding: 0 0 0 15%;
  }
  .cold h3{
    padding-right: 26%;
  }
  .food{
    grid-column: 1/7;
    grid-row: 4;
    padding: 0 0 0 15%;
  }
  .food h3{
    padding: 0 10% 0 0;
  }
  
  .foodicon{
    padding-left: 0%;
    width: 5%;
  }
  .food .foodicon{
    padding-left: 0;
    padding-right: 0%;
    width: 6%;
  }
  /*home page*/
  .display-4, .hours{
    width: 70%;
  }
  /*this is for the about us page*/
  #logo{
    margin-left: 0%;
  }
  a img{
    height:150px;
    width:150px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 42% .5fr .5fr;
}
/*contaact us page*/
  .formGrid,.cafe,.address{
    grid-template-rows: 1fr;
    grid-template-columns: 95% 20% 20%;
}
  #cafe{
    position: relative;
    width: 100%;
    top: 0;
    left: 2%; 
    float: none;
    grid-row: 2/3;
    grid-column: 1;
  }
  .address{
    position: relative;
    top: 0;
    left: 2%; 
    width: 100%;
    grid-row: 3/4;
    grid-column: 1;
  }
}


@media only screen and (min-width:750px) and (max-width: 959px){
  /*reservation page*/
  #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:40%;
  }
  /*menu page*/
  #menu{
    grid-template-rows: 5%;
  }
  .hot{
    grid-column: 2/7;
    grid-row: 2;
    padding: 0 0 0 10%;
  }
  .hot h3{
    padding-right: 33%;
  }
  .cold{
    grid-column: 2/7;
    grid-row: 3;
    padding: 0 0 0 10%;
  }
  .cold h3{
    padding-right: 33%;
  }
  .food{
    grid-column: 1/7;
    grid-row: 4;
    padding: 0 0 0 15%;
  }
  .food h3{
    padding: 0 15% 0 0;
  }
  
  .foodicon{
    padding-left: .25%;
    width: 5%;
  }
  .food .foodicon{
    width: 6%;
  }
  /*home page*/
  .display-4, .hours{
    width: 55%;
  }
  /*this is for the about us page*/
  #logo{
    margin-left: 0;
  }
  a img{
    height:200px;
    width:200px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35% .5fr 1.25fr;
}

/*contact page*/ 
  .formGrid,.cafe,.address{
    grid-template-rows: 1fr;
    grid-template-columns: 95% 20% 20%;
}
  #cafe{
    position: relative;
    width: 100%;
    top: 0;
    left: 2%; 
    float: none;
    grid-row: 2/3;
    grid-column: 1;
  }
  .address{
    position: relative;
    top: 0;
    left: 2%; 
    width: 100%;
    grid-row: 3/4;
    grid-column: 1;
  }
}


@media only screen and (min-width:960px) and (max-width: 1023px){
/*this is for the contact us page*/
    .address{
    width: 45%;
    top: 72.8%;
    border-radius: 4px;
    padding-bottom: 1%;
  }
  #cafe{
    top: 27.8%;
  }
  /*this is for the about us page*/
  #logo{
    margin-left: 0;
  }
  a img{
    height:250px;
    width:250px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 18% .5fr .5fr;
}
  /*menu page*/
  #menu{
    font-size:20px;
    grid-template-rows: 10% 50% 50%;
    }
  #specialicons{
    grid-template-rows: 20%;
  }
  .hot{
    grid-column: 1/4;
    padding-left: 20%;
  }
  .hot h3{
    padding-right: 5%;
  }
  .cold{
    grid-row: 2;
    grid-column: 4/7;
  }
  .food{
    grid-row: 3;
    grid-column: 2/6;
    padding: 0 5% 0px 20%;
  }
  .food h3{
    padding-left: 0;
  }
  /*reservation page*/
  #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:30%;
  }
}

@media only screen and (min-width:1024px){
  html body{
  background-image: url(https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg);
  background-repeat: repeat;
  background-size: cover;
}
  /*this is for the about us page*/
  #logo{
    margin-left: 0;
  }
  a img{
    height:300px;
    width:300px; 
    margin:5%;
    border-radius: 50% 50% 50% 50%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% .5fr .5fr;
}
  /*this is for the contact us page*/
  .address{
    width: 45%;
    top: 77.3%;
    border-radius: 4px;
    padding-bottom: 1%;
  }
  #cafe{
    top: 29%;
  }
  /*menu page*/
  #menu{
    font-size:18px;
    grid-template-rows: 10% 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #specialicons{
    grid-template-rows: 20%;
  }
  .hot{
    padding-right: 10%;
  }
  .cold{
    grid-column: 4/7;
    grid-row: 2/3;
    padding-left: 10%;
    padding-right: 15%;
  }
  .cold h3{
    padding-right: 5%;
  }
  .food{
    grid-row: 3;
  }
  .food h3{
    padding-right: 20%;
    padding-left: 0;
  }
  /*reservation page*/
  #reservationform{
    margin: 5%;
    width: 100%;
  }
  select{
    width:30%;
  }
}
@media only screen and (min-width: 1200px) {
 /* contact page*/
  #cafe , .address{
  grid-column: 2;
  grid-row: 1/2;
}
#cafe{
  width: 45%;
  position:absolute;
  top: 32.5%;
  right:2%;
  float: right;

}
.address{
  width: 8%;
  position: absolute;
  top: 44.6%;
  right:2%;
  float: right;
}
/*about us*/
  #logo{
    margin-left: 20%;
  }
  #pets,.dogs,.cats{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% .5fr .5fr;
}
  a img{
    height:350px;
    width:350px; 
}
  a{
    padding-right: 20%;
  }
}